*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f2f2;
}

.navbar{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1A1A2E;
   
}
.navbar .logo{
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.navbar span{
color: #f79811;

}

.manu{
    display: flex;
    gap: 30px;
}
 .manu a{
    color: white;
text-decoration: none;
}
 .navbar button{
color: white;
background-color: #FF6B35;
border: none;
padding: 5px 12px;
border-radius: 10px;
font-size: 14px;
}
.banner{
    background-image:linear-gradient(rgba(20,15,12,0.65)), url(./images/banner.jpg);
    height: 40vh;
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;

}
.banner h1{
    padding-bottom: 7px;
}


.section-Head{text-align: center;}
.service-container{
    margin-top: 80px ;
}
.cards{
   display: flex; 
   flex-wrap: wrap;
   justify-content:center;
   gap: 30px;
   margin-top: 30px;
   

}
.single-card{
    width:30% ;
    background-color:white;
}
 /*  for grid */
 /* .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 30px;

 }
 .single-card{
    background-color: white;
   
 } */

.single-card img{
    object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 8px;


}
.single-card h1 ,
 .single-card p ,
.single-card button{
    margin: 12px 0px 12px 12px;
}
.single-card button{
    padding: 10px 20px;
    background-color: #FF6B35;
    border: none;
    border-radius: 12px;
    color: white;

}
.single-card button:hover{
    background-color: #1A1A2E;
    transition: all ease-in 0.5s;
}